{% extends "base.html" %}

{% block content %}
{%- set rel_attributes = macros_rel_attributes::rel_attributes() | trim -%}

<article>
    <h1>{{ page.title }}</h1>
    {%- include "partials/article_details.html" -%}
    {%- include "partials/statements.html" -%}
    {{ page.content | safe }}
    {%- include "partials/backlinks.html" -%}
</article>

{%- include "partials/comments.html" -%}

{%- if page.lower or page.higher -%}
<hr />
{%- include "partials/article_nav.html" -%}
{%- endif -%}
{% endblock content %}
